body{
	background-color: powderblue;
	margin: 0;
}
.eye{
	background-color: white;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -100px;
	overflow: hidden;
}
.pupil{
	background-color: black;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
}
.eye1{
	margin-left: -120px;
}
.eye2{
	margin-left: 0;
}
.button{
	position: absolute;
	top: 80%;
	left: 30%;
}
button{
	font-size: 2em;
	color: black;
	background-color: #79a1bc;
	box-shadow: 5px 5px 5px 5px #16cce3 ;
	margin-left: 20px;
}
button:hover{
	background-color: powderblue;
	box-shadow: -2px -2px 2px 2px black;
}
button:active{
	background-color: #16cce3;
}